@media(max-width:635px){


.barra-topo {
    justify-content: space-between;
    align-items: center;
    display: column
    
    
}
.out-mobile{
    display:none;
}
.out-mobile2{
    display:none;

}
.out-mobile3{
    display:none;
}
.mid-topo{
    display:none;

}
.line{
    display:none
}
.storys{
    background-color:#E5E5E5;
    width:calc(100vw - 16px)

}
/* se tirar essa parte, volta a esconder metade de cada lado do storys, ou só mudar o justify pra evenly*/
.storys:nth-child(1){
    padding-left:px;
    justify-content: space-between;
  
}

.foto-story{
    overflow:hidden;
    
}
.setinha-story{
    display:none;
}
.conteudo{
    width:97vw;

}




}