html{
    font-family: "roboto", sans-serif;
}
.side-todo-conteudo{
    display:flex;
    background-color:#E5E5E5;
    
    
}
.todo-conteudo{
    margin-left: 150px;
}
.barra-topo{
    background-color:#FFFFFF;
    height: 54px;
    position: absolute;
    top:0;
    width:100%;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
}
.line{ 
    width:1px;
    height:22px;
    background-color:#DBDBDB;
}
.left-topo{
    font-size: 25px;
    width:150px;
    display:flex;
    align-items: center;
justify-content:space-between;
}
.mid-topo{
    background-color:#FAFAFA;
    width:240px;
    height:28px;
border-radius:3px;
}
.mid-escrita{
    
    font-size:12px;
    font-weight:400;
    color:#979797;
    display:flex;
    justify-content:center;
    align-items:center;
}
.right-topo{
    font-size:25px;
    width:150px;
    display:flex;
    justify-content:space-between;
}
.storys{
    background-color: #FFFFFF;
    margin-top: 80px;
    overflow:hidden;
height:120px;
width:110%;
position:relative;
display:flex;
align-items:center;
justify-content: space-evenly;
}


.setinha-story{
    font-size:30px;
    position:absolute;
    right:9%;
    color: rgb(49, 49, 49);

}
.line-story{
font-size:12px;
font-weight:400;
height:19px;
width:58px;
overflow: hidden;
text-overflow: ellipsis;
}
.conteudo{
    height:750px;
width:610px;

    
}
.side-bar{

    background-color: #E5E5E5;
    height:600px;
width:300px;
position: absolute;
left:760px;
top:80px;

}
.conteudo-side-bar{
    margin-left:29px;
}
.side-topo{
    padding: 15px 0;
}
.side-topo p{
    font-size: 14px;
    margin: 4px 10px;
}
.side-fotos{
    display:flex;
    margin-top:10px;

}
.side-fotos img{
    width: 52px;
}
.side-ver-tudo{
    display:flex;
    justify-content:space-between;
    
}
.side-ver-tudo p{
font-size:14px;
}
.side-escrita-forte{
    font-family: roboto;
    font-weight: bold;
    font-size:14px;
color:#262626;
}
.side-escrita-fraca{
    font-family: roboto;
    font-weight: 400;
    font-size:12px;
    color:#8E8E8E;

}
.side-escrita{
    margin:auto 0;
    margin-left: 7px;
}
.side-fotos-seguir{
    display:flex;
    padding: 7px;
    width:85%;
}
.side-fotos-seguir img{
    width: 32px;
}
.foto-texto-seguir{
    display:flex;
    margin-top:10px;
}
.side-seguir{
       width:20%;
       color:#139EF2;
    display:flex;
    align-items: center;
    justify-content: end;
font-size:12px;
}
.final-side p{
    margin-top:15px;
    font-size:11px;
}
.final-side p:nth-child(2){ 
margin: top 15px;
}




.head-conteudo{
    background-color: white;
    height:61px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.imagem-conteudo{
   
}
.imagem-conteudo img{
weight:600px;
height: 610px;
}
.curtidas-conteudo{
    background-color: coral;
    height:32px;
    display:flex;
    justify-content: space-between;
    
}
.interacao-left-conteudo{
    background-color: brown;
    margin-left:15px;
    font-size:20px;
    width:15%;
    height:100%;
    display: flex;
    justify-content: space-between;
}
.teste{
width:610px;
background-color: cornflowerblue;
height:45px;
}


.ft-left-conteudo img:nth-child(1){
    padding:10px;
    width:32px;
    

}
.ft-left-conteudo img:nth-child(2){
margin: auto 0;
}
.ft-left-conteudo{
    display:flex;
}
.icon-right-conteudo{
    font-size:22px;
    padding: 10px;
}
