html{
    font-family: "roboto", sans-serif;
}
.side-todo-conteudo{
    display:flex;
    background-color:#E5E5E5;
    
    
}
.todo-conteudo{
    margin-left: 150px;
}
.barra-topo{
    background-color:#FFFFFF;
    height: 54px;
    position: absolute;
    top:0;
    width:100%;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
}
.line{ 
    width:1px;
    height:22px;
    background-color:#DBDBDB;
}
.left-topo{
    font-size: 25px;
    width:150px;
    display:flex;
    align-items: center;
justify-content:space-between;
}
.mid-topo{
    background-color:#FAFAFA;
    width:240px;
    height:28px;
border-radius:3px;
}
.mid-escrita{
    
    font-size:12px;
    font-weight:400;
    color:#979797;
    display:flex;
    justify-content:center;
    align-items:center;
}
.right-topo{
    font-size:25px;
    width:150px;
    display:flex;
    justify-content:space-between;
}
.storys{
    background-color: #FFFFFF;
    margin-top: 80px;
    overflow:hidden;
height:120px;
width:110%;
position:relative;
display:flex;
align-items:center;
justify-content: space-evenly;
}


.setinha-story{
    font-size:30px;
    position:absolute;
    right:9%;
    color: rgb(49, 49, 49);

}
.line-story{
font-size:12px;
font-weight:400;
height:19px;
width:58px;
overflow: hidden;
text-overflow: ellipsis;
}
.conteudo{
    background-color: red;
    height:750px;
width:610px;

    
}
.side-bar{

    background-color: white;
    height:400px;
width:300px;
position: absolute;
left:760px;
top:80px;

}
.side-fotos{
    display:flex;
    margin-top:10px;

}
.side-fotos img{
    width: 56px;
}
